/* app css stylesheet */
body {
  display: block;
  margin: 20px;
}
.title {
  text-align: center;
}
.menu {
  list-style: none;
  border-top: 0.1em solid black;
  padding: 2em 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
